.manage-container {
  margin-left: 260px; /* Phù hợp với kích thước sidebar */
  padding: 20px;
}

h1 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.managetable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.managetable th,
.managetable td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.managetable th {
  background-color: #34495e;
  color: #ecf0f1;
}

.managetable td {
  color: #2c3e50;
}

.managetable-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.managetable td button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}

.btn_delete {
  background-color: #c0392b;
  color: white;
}

.btn_delete:hover {
  background-color: #861f14;
}

.btn_update {
  background-color: forestgreen;
  color: white;
}

.btn_update:hover {
  background-color: rgb(17, 88, 17);
}

.btn_address {
  background-color: rgb(234, 152, 51);
  color: white;
}

.btn_address:hover {
  background-color: rgb(162, 107, 39);
}

.action-buttons {
  display: flex;
  gap: 10px;
}

/* Nền mờ cho overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.modal p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-close:hover {
  color: #e74c3c; /* Đổi màu khi hover */
}

/* Căn giữa và khoảng cách cho nút */
.confirm-delete-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Nút "Yes" */
.btn_confirm_yes {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 6px;
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn_confirm_yes:hover {
  background-color: #c9302c;
}

/* Nút "No" */
.btn_confirm_no {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 6px;
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn_confirm_no:hover {
  background-color: #5a6268;
}

/* Hiệu ứng slide-down cho modal */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
