.customersupport-container {
    max-width: 70%; /* Tăng độ rộng container */
    margin: 30px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    line-height: 1.8;
    color: #333;
    font-family: "Arial", sans-serif;
}

.customersupport-container h1 {
    font-size: 30px; /* Tăng kích thước chữ */
    color: #993030; /* Đổi sang tông cam nhạt */
    margin-bottom: 25px;
    text-align: center;
}

.customersupport-container h2 {
    font-size: 24px; /* Tăng kích thước chữ */
    color: #2c3e50;
    margin-bottom: 15px;
}

.customersupport-container h3 {
    font-size: 22px;
    color: #993030;
    margin-top: 25px;
    margin-bottom: 25px;
}

.customersupport-container p {
    font-size: 18px; /* Tăng kích thước chữ */
    color: #444;
    margin-bottom: 25px;
}

.customersupport-container ul {
    list-style: none;
    padding: 0;
    margin: 25px 0;
}

.customersupport-container ul li {
    font-size: 18px; /* Tăng kích thước chữ */
    color: #333;
    padding: 10px 0;
    position: relative;
    padding-left: 35px;
}

.customersupport-container ul li:before {
    content: "✔";
    color: chartreuse;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 5px;
}

.customersupport-container ul li:not(:last-child) {
    border-bottom: 1px dashed #ddd;
}

.customersupport-container ul li:hover {
    color: #e59a57; /* Đổi màu chữ khi hover */
}

.customersupport-container a {
    color: #547ce6;
    text-decoration: none;
    font-weight: bold;
}

.customersupport-container a:hover {
    color: #e59a57;
    text-decoration: underline;
}
