/* Tổng quát */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e8e8e8;
}

.home-icon {
  display: flex;
  justify-content: right;
  background-color: #e8e8e8;
  padding: 20px;
}

.home-icon img {
  margin-right: 10px;
  width: 30px;
  height: auto;
  cursor: pointer;
}

/* Container và Login Box */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background-color: #eaeaea;
}

.login-box {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100vh; /* Chiều cao chiếm toàn màn hình */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.login-left {
  width: 50%;
  padding: 60px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #333;
}

.login-left p a {
  font-weight: bold;
  color: #547ce6;
  text-decoration: none;
}

.login-left p a:hover {
  text-decoration: underline;
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 20px 0;
  border: 2px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.input-field:focus {
  border-color: #547ce6;
}

.password-wrapper {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  width: 100%;
  background-color: #547ce6;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #357ab8;
}

/* Mạng xã hội */
.social-login {
  margin-top: 30px;
  text-align: center;
}

.social-login p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.google-btn,
.facebook-btn,
.apple-btn {
  background-color: white;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.google-btn:hover,
.facebook-btn:hover,
.apple-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Koi Fish */
.login-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.koi-fish {
  width: 100%;
  height: 100vh; /* Đảm bảo chiếm toàn bộ chiều cao của màn hình */
  object-fit: cover; /* Đảm bảo ảnh luôn phủ kín */
  mix-blend-mode: multiply;
}

/* Responsive */
@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
    height: auto;
  }

  .login-left,
  .login-right {
    width: 100%;
    height: auto; /* Chiều cao tự động cho thiết bị nhỏ */
  }

  .koi-fish {
    height: auto;
  }
}
