/* Tổng thể navbar */
.navbar {
    padding: 20px 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eab67d;
    border-bottom: 2px solid #e65a5a;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logoicon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
}

.logoicon h2 {
    color: #e65a5a;
    font-weight: 450;
    font-size: 24px;
}

/* Menu */
.navbar-menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-menu li {
    cursor: pointer;
}

.navbar-menu a {
    text-decoration: none;
    color: #49557e;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #178686;
}

.navbar .active a {
    color: #178686;
    padding-bottom: 5px;
    border-bottom: 3px solid #178686;
    transition: border-bottom 0.3s ease;
}

/* Nút Sign In */
.navbar-right button {
    background: #178686;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.navbar-right button:hover {
    background-color: #126666;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Responsive thiết bị nhỏ */
@media (max-width: 768px) {
    .navbar {
        padding: 20px;
        flex-direction: column;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .navbar-right {
        margin-top: 20px;
    }
}
