* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
.content-container {
  margin-left: 260px; /* Phù hợp với kích thước sidebar */
  padding: 20px;
  background-color: #f9f9f9;
}

.content-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.report-table th,
.report-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}
.report-table th {
  background-color: #34495e;
  color: white;
}
.report-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-btn,
.change-btn {
  background-color: #c0392b;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-btn:hover {
  background-color: #861f14;
}
.change-btn {
  background-color: forestgreen;
}

.change-btn:hover {
  background-color: rgb(17, 88, 17);
}
/* Responsive Layout */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content-container {
    padding: 20px;
  }
}

/* Modal container styling */
.modal {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons in modal */
.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.confirm-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-btn:hover {
  background-color: #c0392b;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn:hover {
  background-color: #5a6268;
}
